@import url(../font.scss);

.container {
  // height: 100vh;
  // background-color: #E7E3EB;
  .header {
      padding: 15px 20px;
      background-color: #6200EE;
      h1 {
        color: #FFF;
        font-family: 'Nunito';
        font-style: italic;
      }
  }
  .react-logo img {
    // background: url('../Assets/Images/SMTPlogo.png') no-repeat center;
    width: 500px;
    height: auto;
  // background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

}

table {
  width: 70%;
  // border: 1px solid #555;
  padding: 25px;
  max-width: 920px;
  tr td:first-child {
    width: 40%;
  }
  th {
    height: 30px;
    background-color: #104E8B;
    color: white;
  }
  th, td {
    border: 1px solid #555;
    padding: 5px;
    border-radius: 10px;
  }
}

.section-head {
  margin-left: 25px;
}

.comp-space {
  margin-bottom: 75px;
}

.p-tighten {
  margin-top: 8px;
  margin-bottom: 0;
}

.p-tighten:first-child {
  margin-top: 16px;
}

#part-wrap {
    padding: 5px 25px 25px 25px;
}

@media only screen and (max-width: 744px) {
  table{
    width: 95%;
  }
}
