@use '../font';

$navajo: #FFDB9E;
$creamsicle: #FFD182;
$primary1: #EFEDF1;
$primary2: #6200EE;
$primary3: #326380;
$secondary: #181739;

.topnav a, .features, .comp-space {
  font-family: 'Open Sans Regular', sans-serif;
}

.mono {
  font-family: 'MyFont', monospace;
}

#part-headline {
  font-size: 42px;
  line-height: 48px;
}

.container {
  // height: 100vh;
  background-color: $primary1;

  h1 {
    color: $primary3;
  }
  .react-logo img {
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .contrast {
      background-color: white;
    }
}

/**   Navigation   **/
.remove-nav {
  display: none;
}

.topnav {
  top:0;
  left: 0;
  right: 0;
  margin-top: -13px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    text-align: left;
    border-bottom: 1px solid white;
  }
  li:last-child {
    background-color: $secondary;
    border-bottom: none;
    a:hover {
      background-color: $secondary;
    }
  }
  li:nth-child(6) {
    border-bottom: none;
  }
  a {
    display: block;
    padding: 12px 20px;
    // font-weight: bold;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
  a:hover {
    background-color: $creamsicle;
  }
}

.creamsicle {
  background-color: $navajo;
}

.flex {
  display: flex;
}

.first-flex {
  flex-basis: 800px;
  min-height: 5px;
}

#icon {
  margin-top: -25px;
  font-size: 20px;
  color: white;
  margin-right: 15px;
}
// .second-flex {
//   flex-basis: 300px;
// }

table {
  width: 70%;
  // border: 1px solid #555;
  padding: 25px;
  max-width: 920px;
  tr td:first-child {
    width: 40%;
  }
  tr td:nth-child(3) {
    min-width: 60px;
  }
  th {
    height: 30px;
    background-color: #104E8B;
    color: white;
  }
  th, td {
    border: 1px solid #555;
    padding: 5px;
    border-radius: 10px;
  }
  #no-widen {
    width: auto;
  }

}

.section-head {
  margin-left: 25px;
}

.comp-space {
  margin-bottom: 75px;
}

.p-tighten {
  margin-top: 8px;
  margin-bottom: 0;
}

.p-tighten:first-child {
  margin-top: 16px;
}

#part-wrap {
    padding: 5px 25px 5px 25px;
}

.grow-height {
  min-height: 500px;
}
@media only screen and (min-width: 640px) {
  #icon {
    margin-top: -35px;
    font-size: 25px;
  }
  .topnav {
    margin-top: -16px;
  }
}

@media only screen and (max-width: 744px) {
  table{
    width: 95%;
  }
}

@media only screen and (min-width: 850px) {
  .first-flex {
    flex-basis: 900px;
  }
  #icon {
    font-size: 30px;
    margin-top: -55px;
  }
   .topnav {
     margin-top: -18px;
   }
}

@media only screen and (min-width: 1024px) {
  .first-flex {
    flex-basis: 1050px;
  }
}

@media only screen and (min-width: 1200px) {
  .first-flex {
    flex-basis: 1150px;
  }
  #icon {
    font-size: 35px;
    margin-top: -60px;
  }
  .topnav {
    margin-top: -20px;
  }
}
