@import '../font';

// @font-face {
//   font-family: 'MyFont';
//   src: url('../Assets/Fonts/OpenSans-Regular.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }

.topnav a, .features, .comp-space {
  font-family: 'Open Sans Regular';
}

#part-headline {
  font-size: 42px;
  line-height: 48px;
  /* padding-top: 40px; */
}

.container {
  // height: 100vh;
  // background-color: #E7E3EB;
  .header {
      padding: 15px 20px;
      background-color: #6200EE;
      h1 {
        color: #FFF;
        font-family: 'Nunito';
        font-style: italic;
      }
  }
  .react-logo img {
    // background: url('../Assets/Images/SMTPlogo.png') no-repeat center;
    width: 500px;
    height: auto;
  // background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

}

/**   Navigation   **/
.remove-nav {
  display: none;
}

.topnav {
  top:0;
  left: 0;
  right: 0;
  margin-top: -13px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    text-align: left;
  }
  li:last-child {
    background-color: #039cd3;
  }
  a {
    display: block;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
  a:hover {
    background-color: #039cd3;
  }
}

.flex {
  display: flex;
}

.first-flex {
  flex-basis: 800px;
  min-height: 5px;
}

#icon {
  margin-top: -25px;
  font-size: 20px;
  color: white;
  margin-right: 15px;
}
// .second-flex {
//   flex-basis: 300px;
// }

table {
  width: 70%;
  // border: 1px solid #555;
  padding: 25px;
  max-width: 920px;
  tr td:first-child {
    width: 40%;
  }
  tr td:nth-child(3) {
    min-width: 60px;
  }
  th {
    height: 30px;
    background-color: #104E8B;
    color: white;
  }
  th, td {
    border: 1px solid #555;
    padding: 5px;
    border-radius: 10px;
  }
  #no-widen {
    width: auto;
  }

}

.section-head {
  margin-left: 25px;
}

.comp-space {
  margin-bottom: 75px;
}

.p-tighten {
  margin-top: 8px;
  margin-bottom: 0;
}

.p-tighten:first-child {
  margin-top: 16px;
}

#part-wrap {
    padding: 5px 25px 25px 25px;
}

.grow-height {
  min-height: 500px;
}
@media only screen and (min-width: 640px) {
  #icon {
    margin-top: -35px;
    font-size: 25px;
  }
  .topnav {
    margin-top: -16px;
  }
}

@media only screen and (max-width: 744px) {
  table{
    width: 95%;
  }
}

@media only screen and (min-width: 850px) {
  .first-flex {
    flex-basis: 900px;
  }
  #icon {
    font-size: 30px;
    margin-top: -55px;
  }
   .topnav {
     margin-top: -18px;
   }
}

@media only screen and (min-width: 1024px) {
  .first-flex {
    flex-basis: 1050px;
  }
}

@media only screen and (min-width: 1200px) {
  .first-flex {
    flex-basis: 1150px;
  }
  #icon {
    font-size: 35px;
    margin-top: -60px;
  }
  .topnav {
    margin-top: -20px;
  }
}
