@font-face {
  font-family: 'Open Sans Italic';
  src: url('./Assets/Fonts/OpenSans-Italic.ttf') format('truetype');
       /*url('./Assets/Fonts/OpenSans-MediumItalic.ttf') format('truetype'),
       url('./Assets/Fonts/OpenSans-SemiBoldItalic.ttf') format('truetype')*/
  font-weight: normal;
  font-style: italic;
}
