@font-face {
  font-family: 'Open Sans Regular';
  src: url('./Assets/Fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}


@font-face {
  font-family: 'MyFont';
  src: url('./Assets/Fonts/SourceCodePro-Medium.ttf') format('truetype');
  font-style: normal;
}
