@font-face {
  font-family: 'Open Sans Regular';
  src: './Assets/Fonts/OpenSans-Regular.ttf' format('truetype');
  font-weight: normal;

  /*font-family: 'MyFont';
  src: url('./Assets/Fonts/SourceCodePro-Medium') format('truetype');
  font-style: normal;
*/
}
